#canvas {
  border: 1px solid black;
  cursor: crosshair;
}
#clusterBtn {
  margin-top: 10px;
  padding: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
#printBlock{
  margin-top: 10px;
  padding: 5px;
  background-color: #b3d4fc;

}
